.image{
	font-size:30px;
	width:40px;
	height:40px;
}

#row2b{
  text-align:right;
}
#row2b > p{
  font-family: 'Rozha One', serif;
  position: relative;
  font-size: 5vw;
}
#row2b > p:nth-child(1){
  margin-top: 3vw;
}
#row2b > p:nth-child(2){
  margin-top: -1vw;
  font-size: 7.5vw;
}

#grid {
  display: grid;
  grid-gap: 1vw; 
  grid-template-rows: 5vw;
  grid-auto-rows: 9vw;
  height: 600px;
  grid-template-columns: 1fr repeat(6, 3fr) 1fr;
}

#grid > div{
  position: relative;
  background-color:black;
  outline-style: solid;
  outline-color:black;
  outline-width: 1vw;  \\ Same as grid gap
}

div#row1a,div#row2a,div#row3a,div#row3b,div#row4a,div#row5a,div#row5b,div#row6a,div#row7a,div#row8a,div#row9a,div#row10a,div#row12a{
  background-color:rgba(64,67,78,0.4);
}

#row1a, div#row5a{
  grid-column-end: span 3;
}
#row1b, div#row2b, div#row3b, div#row5c, div#row8a, div#row8b, div#row9a, div#row12a{
  grid-column-end: span 2;
}
div#row2b{
  grid-row-end: span 2;
}

#filler {
  width: 100vw;
  height: 30vw;
  background-color:#ff0;
  margin-left: -1vw;
}
 .grid-layout {
	 display: grid;
	 grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
	 grid-gap: 10px;
	 grid-auto-rows: minmax(120px, auto);
	 grid-auto-flow: dense;
	 padding: 10px;
}
 .grid-item {
	 padding: 1rem;
	 font-size: 14px;
	 font-weight: bold;
	 text-transform: uppercase;
	 color: #929796;
	 background-color: #333;
	 border-radius: 5px;
}
 .grid-item:nth-child(odd) {
	 background-color: #424242;
}
 .span-2 {
	 grid-column-end: span 2;
	 grid-row-end: span 2;
}
 .span-3 {
	 grid-column-end: span 3;
	 grid-row-end: span 4;
}

.card-container {
  cursor: pointer;
  height: 500px;
  perspective: 600;
  position: relative;
  width: 70%;
  float: right;
  right:180px;
  margin-top: 50px;
}
.cards {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.cards:hover {
  transform: rotateY(180deg);
  transition: all 1s ease-in-out;
}
.cards .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.cards .side img{
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.cards .back {
  background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}
#scrolltop {
    background-color: black !important;
    color:orange;
  text-align: center;
    border-radius: 2px;
    border: 0;
    outline: 0;
  	left: 20%;
  	top: 0;
	width: 80%;
    bottom: 50px;
    height: 50px;
    position: fixed;
    z-index:9999;
  padding-top: 20px;
}

#scrolltop:hover {
opacity: 1.0;
}


.scrolltop {
 display:none;
}
.photo-me{
	background-image: url("../images/full.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	width:300px;
	height:300px;
	margin-top: 40px;
	margin-left: 80px;
}
.Technologies{
	background-color: #C0C0C0;
	width:80%;
	padding-top:50px;
}
.projects{
	padding-top:50px;
	width:80%;
}
.contacts{
	padding-top:50px;
	width:80%;	
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
    background-image:url('http://sf.co.ua/13/02/wallpaper-53194.jpg');
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}
.container-fluid{
	padding:0;
}
#name h1,h2{
	font-family: 'Roboto Mono', monospace;
	font-family: 'Open Sans Condensed', sans-serif;
	color:black;
	padding-top:90px;
	font-size:90px;
	background-color:relative;
	padding-left:30px;
}
#name h2{
	font-family: 'Roboto Mono', monospace;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
}
.over{
	background-image: url("../images/full.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
	width:relative;
	position: fixed;
	left:0;
	-webkit-clip-path: polygon(53% 18%, 73% 27%, 100% 100%, 55% 99%);
}
#name p{

	color:black;
	font-size:20px;
}
#name:hover p{

	color:black;
	font-size:20px;
}
.baseline {
	float:right;
	position: absolute;
    display: inline-block; /* to display the 3 div's in same line */
    height: 100%; /* height, width and border just added for demo, not mandatory */
    width: 80%;
    left: 110%; 
    display: block;
    transition: all 0.6s ease;
    background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
    background-image:url('../images/home.jpg');
}
.baseline h1{
	font-size:100px;
	transition: color 2s;
}
.baseline:hover h1{
	color:white;
	transition: color 2s;
}
.baseline:hover strong{
	color:white;
	transition: color 2s;
}
}
.baseline:hover h2{
	color:white;
	transition: color 2s;
}
.baseline:hover p{
	color:white;
	transition: color 2s;
}
.projects-picture-info{
	margin: 20px;
	width:100%;
	height: 100%;
	transition: all 2s;
}


.projects-picture-info:hover{
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width:100%;
	transition: all 2s;
}

.projects-picture-info p{
	display:none;
	text-align: center;
	transition: all 2s;
}

.projects-picture-info:hover p{
	display:block;
	text-align: center;
	line-height: 30px;
	color:black;
	transition: all 2s;

}
#header div{
	position:relative;
   background-color: rgba(255, 255, 255, 0.2);	
	background-blend-mode: screen;
	transition: background-color 2s;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	width:relative;
	height:650px;
}

#header:hover div{
	background-color: rgba(0, 0, 0, 0.7);
}
.me{
	background-image:url("https://i.pinimg.com/originals/b4/3f/5c/b43f5cbdebdbba84d722b9b885c1ee86.gif");
	background-color: black
	background-repeat:no-repeat;
	background-size:contain;
	float:left;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	position:fixed;
	display:inline-block;
	height: 650px;
	width:20%;
	right: 110%;
    transition: all 0.6s ease;

}
#welcome, #back{
	display: block;
	height: 10000px;
	position: absolute;
	width: 50%;
	z-index: 999;
}
.formsss{
	font-family: 'Nova Slim', cursive;
}
#welcome {
	background-color: white;
	right: 50%;
}

#back {
	background-color: black;
	right: 0;
}
#me{
	position:relative;
	top:0%;
	left:0%;
	background-color: rgba(0, 0, 0, 0.9);
	background-blend-mode: screen;
	transition: background-color 1.5s;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	width:relative;
	height:650px;
	display:block;
}

.about-me h1{
	margin-top: 60px;
}
#me a{
	font-family: 'Roboto Mono', monospace;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Montserrat', sans-serif;
	color:white;
	padding-top:50px;
	text-align:center;
	font-size:20px;
	display:block;
}


.formss{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 22px;
	color:black;
}
.about{
	width:80%;
	float:right;
}
/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */

.line-1{
    position: relative;
    float:left;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 200%;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 6s steps(44) 4s 1 normal both,
             blinkTextCursor 3s steps(44) infinite normal;


}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: transparent;}
  to{border-right-color: transparent;}
}
.navbar-inner {
    background:transparent;
}
.bottom{
	 transform: dotted;
      width: 65%;
}
.align{
	text-align:center;
	margin-left:120px;
}
.aligner{
	text-align:center;
}
.forms{
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Julius Sans One', sans-serif;
}
.going{
	margin-top:100px;
}
.widther{
	width:100%;
}
.left{
	float:left;
}
.right{
	float:right;
}
.register-card,.login-card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.post-cards{
	margin-top:40px;
}
.tittle{
	margin-right:50px;
}
.tittles{
	margin-right:0px;
}
.jeff{
	margin-right:150px;
}
.form-rounded{
border-radius: 150px;


}
.trans{
	line-height:50px;

}

.title, .home-button{
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Julius Sans One', sans-serif;
	font-size:20px;
	
	transition:all 0.5s ease;
	color:black;
	

}

.title{
	float:left;
}
a.title:hover,a.home-button:hover{
	text-decoration:none !important;
	font-size:21px;
	transition:all 0.5s ease;
	color:black;
}
h1 {
	margin:0;
}
.right{
	float:right;
	right:0px;
}
.padder{
	padding-left:40px;
	padding-right:40px;
}
.marginer{
	padding-left: 20px;
}
ul {
  list-style-type: none;
}
.beginner-page{
	background-image:url("http://hedgeartgallery.com/sites/default/files/styles/adaptive_background/public/media/images/20110520_029_D50_legation_a_gallery.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	width:100%;
	height:640px;
	color:white;
	position:absolute;
	display:inline-block;
	transition: all 0.6s ease;

}
#post{
	margin-top:30px;
}
#beginner-page{
	position:relative;
	background: rgba(255,255,255,0.3);
	background-blend-mode: screen;
	transition: background 2s;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	width:relative;
	height:640px;
}
#beginner-page:hover{
	background:rgba(0,0,0,0.5);
	transition: background 2s;
	color:white;
}
#beginner-page h1{
	display:none;
	transition: all ease 2s;
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Julius Sans One', sans-serif;
}
.hood{
	padding:0px;text-align:center;width:50px;font-family: "Roboto Condense",sans-serif;font-family: "Julius Sans One", sans-serif;
}
#beginner-page:hover h1{
	padding-top:100px;
	line-height:200px;
	text-align:center;
	display:block;
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Julius Sans One', sans-serif;
	transition: all ease 2s;
	margin-right:20px;
}

#beginner-page h5{
	display:none;
	transition: text 2s;
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Julius Sans One', sans-serif;
}
#beginner-page:hover h5{
	padding-top:10px;
	text-align:center;
	display:block;
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Julius Sans One', sans-serif;
	transition: text 10s;
	margin-right:20px;
}


#beginner-page:hover a{
	display:block;
	font-size:30px;
	transition:all 20s ease;
	color:white;
}
.beginning-page{
	background-image:url("https://images.pexels.com/photos/914191/pexels-photo-914191.jpeg");
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	width:100%;
	height:640px;
	color:white;
	position:absolute;
	display:inline-block;
	transition: all 0.6s ease;

}
#beginning-page{
	position:relative;
	background: rgba(255,255,255,0.3);
	background-blend-mode: screen;
	transition: background 2s;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	width:relative;
	height:640px;
}
#beginning-page:hover{
	background:rgba(0,0,0,0.5);
	transition: background 2s;
	color:white;
}
#beginning-page h1{
	display:none;
	transition: all ease 2s;
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Julius Sans One', sans-serif;
}
.hood{
	padding:0px;text-align:center;width:50px;font-family: "Roboto Condense",sans-serif;font-family: "Julius Sans One", sans-serif;
}
#beginning-page:hover h1{
	padding-top:100px;
	line-height:200px;
	text-align:center;
	display:block;
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Julius Sans One', sans-serif;
	transition: all ease 2s;
	margin-right:20px;
}

#beginning-page h5{
	display:none;
	transition: text 2s;
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Julius Sans One', sans-serif;
}
#beginning-page:hover h5{
	padding-top:10px;
	text-align:center;
	display:block;
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Julius Sans One', sans-serif;
	transition: text 10s;
	margin-right:20px;
}


#beginning-page:hover a{
	display:block;
	font-size:30px;
	transition:all 20s ease;
	color:white;
}
.fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
@media only screen and (max-width: 1055px) 
{
	.me{
		display: none !important;
	}
	.header{
		width:1055px;
	}
	.baseline{
		width:1055px;
	}
	#name{
		width:1055px;
		font-size: 20px;
	}
	#about{
		width:1055px;
		font-size: 15px;
	}
	#services{
		width:1055px;
		font-size: 15px;
	}
	#projects{
		width:1055px;
		font-size: 15px;
	}
	#contacts{
		width:1055px;
		font-size: 15px;
	}
} 

@media only screen and (max-width: 639px) 
{
.me{
	display: none !important;
}
 .header{
 	height:640px;
 	font-size:50px;
 	width:100%;
 }
}
