{% extends 'base.html'%}
{% block content %}

<body>
<div id="loader-wrapper">
	<div class="bar">
	</div>
  <strong><div class="megrim"id="Welcome-loading">
  	<h1>Hello There</h1>
  </div></strong>
  <div id="loader">
  </div>

<div class="megrim" id="quoteContainer">
      <p></p>
      
    </div>
<div id="quoteAuthor" class="megrim">
<p id="quoteName"></p>
	
</div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
  
</div>
<div id="barba-wrapper">
  <div class="barba-container">
  	<div id="content">


<div class="box box_1">
   <section id="meLeft">
Bleeeeeeeeeeeeeeeeeeeeeeeeeeeh
   </section>
   <section id="meRight">Ahem!!</section>
</div>
<div class="box box_2 under">
    <div>
   	red
      <h1>Bread</h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
   </div>
</div>
<div class="box box_3 under">
    <div>
   	red
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
   </div>
</div>
<div class="box box_4 under">
   <div>
   	red
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
   </div>
</div>
<div class="box box_5 under">
   <div>
   	red
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
   </div>
</div>
</div>
</div>
</div>

</body>
{%endblock%}